.Turn{
    height:6vh;
    width:40%;
    border-radius: 10px;
    margin-bottom:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-left:30%;
    // replace & with parent
    &.turn0{
        background-color:var(--grey);
    }
    &.turn1{
        background-color:var(--blue);
    }

    &.turn2{
        background-color:var(--red);
    }

    &.turn3{
        background-color:var(--blue);
    }

    &.turn4{
        background-color:var(--red);
    }


}