.board{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.board .row{
    display:flex;
    flex-direction:row;
    gap:20px;
}

@media (max-width:500px) {
    .board{
        gap:13px;
    }
    .board .row{
        gap:13px;
    }
}