.board{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.board .row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
}

@media (max-width:500px) {
    .board{
        gap:13px;
    }
    .board .row{
        gap: 13px;
    }
}