.Board{
    display:flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
    .row{
        justify-content: center;
        display:flex;
        gap: 10px;
        .tile{
            width:150px;
            height:150px;
            border-radius: 10px;
            background-color: var(--grey);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}