.board{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    box-sizing: border-box; */


    .board-row{
        display: flex;
        gap: 15px;
        
    }

    .player{
        background-color: var(--blue);
        height: fit-content;
        border-radius: 10px;
        padding: 9px 40px;
        transition: background-color 0.3s;

        h1{
            margin: 0;
            font-size: 20px;
            
        }

        
    }
    .player.player2{
        background-color: var(--red);
    }


}


@media (max-width: 500px){
    .board{
        gap: 10px;
        .board-row{
            gap: 10px;
        }
    }

    .player{
        border-radius: 5px;
        padding: 5px 20px;
    }
}