.Tile{
    height:150px;
    width:150px;
    border-radius: 10px;
    background-color:var(--grey);
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}