.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 90px;
    box-sizing: border-box;
    align-items: center;

}

.header .left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header h1{
    font-size: 24px;
    color: var(--grey);
}

.header button{
    background-color: var(--red);
    border-radius: 10px;
    padding: 7px 25px;
    transition: all 0.3s;
}

.header button:hover{
    filter:brightness(0.9);
    cursor:pointer;

}

.header button p{
    font-family: 'Satoshi';
    font-size: 18px;
    color: var(--grey);
}