.Header{
    height:10vh;
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom:40px;
    .Square{
        width:40px;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--red);
        border-radius: 5px;
        margin:10px;
        margin-left:4vw;
    }
    .RestartButton{
        margin-left:70vw;
        width:8vw;
        height:40px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: var(--red);
        border-radius: 10px;
    }
    .RestartButton:hover{
        background-color: var(--darkred);
    }
}
