.header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    padding: 0px 80px;
    box-sizing: border-box;
    .left{
        margin: 0;
        display: flex;
        gap: 15px;

        .logo{
            height: 39px;
            width: 39px;
        }
    }

    button{
        outline: none;
        border: none;
        background-color: var(--red);
        padding: 8px 25px;
        height: fit-content;
        border-radius: 10px;

        h2{
            margin: 0;
        }
    }


}

@media (max-width:500px){
    .header{
        padding: 0px 10px;

        button{
            padding: 5px 10px;
        }
    }

    .left{
        gap: 10px;
        .logo{
            height: 15px;
            width: 15px;
        }
    }
    h1{
        font-size: 27px; 
    }
}