
:root{
    --red: #FA756D;
    --text: #414141;
    --emptyTile: #F1F1F1;

}
.App{
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
p{
    margin: 0;
    color: var(--text);
    font-family: "Satoshi";
}