.tile{
    width: 125px;
    height: 125px;
    border-radius: 10px;
    background-color: var(--tile);


}

.logo{
    width: 100%;
    height: 100%;
}

@media (max-width: 500px){
    .tile{
        width: 90px;
        height: 90px;
    }
}


